<div class="container">
    <h2 class="m-4">Liste des sous catégories</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom Sous Categorie</th>
                <th>Image Sous Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- @for(scat of scategtab(); track scat.nomscategorie){
            <tr>
                <td class="fw-medium fst-italic">
                    <p class="mt-5">{{scat.nomscategorie}}</p>
                </td>
                <td><img src={{scat.imagescategorie}} alt="image categorie" width="140" height="120" /></td>
                <td><button class="btn btn-danger mt-5"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
            } -->
        </tbody>
    </table>
</div>